* {
  margin: 0;
  padding: 0;
}
body{
  background: #efefef;
}
a{
  text-decoration: none;
}
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
hr {
  height: 0;
  border: none;
  border-top: 1px solid #dedede;
}
.icon {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}
ul, ol {
  list-style: none;
}
/*上面不要看*/
.topNavBar {
  position: fixed;
  top:10px;
  left: 0;
  width: 100%;
}
.topNavBar .logo {
  font-family: "Hiragino Kaku Gothic Std";
  font-size: 22px;
  padding-top: 1px;
  margin-left: 10px;
}
.topNavBar .logo .rs{
  color: #e6686a;
  margin-right: 4px;
}
.topNavBar .logo .card{
  color: #9A9DA2;
}

.topNavBar nav {
  font-size: 13px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.topNavBar nav a{
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  font-weight: bold;
}
.topNavBar nav ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.topNavBar nav ul>li{
  float: left;
  margin-left: 17px;
  margin-right: 17px;
}
.topNavBar nav ul>li>a{
  border-bottom: 3px solid transparent;
}
.topNavBar nav ul>li>a:hover{
  border-bottom-color: #DC6465;
}

.banner{
  background: url("img/bannerImg.jpg");
  background-position: center center;
  background-size: cover;
  height: 515px;
}
.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 0, 0.8);
}

/**
自我介绍框
 */
.userCard {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  margin-top: -383px;
}
.welcome{
  background: #e6686a;
  color: white;
  display: inline-block;
  padding: 4px 16px;
  line-height: 22px;
  position: relative;
  margin-bottom: 10px;
}
.userCard .welcome .triangle {
  display: block;
  border: 10px solid transparent;
  width: 0px;
  border-left-color: #e6686a;
  border-top-width: 0px;
  position: absolute;
  left: 4px;
  top: 100%;
}
.picture{
  float: left;
}
.userCard .text {
  float: left;
  margin-left: 65px;
  width: 470px;
}
.userCard .pictureAndText {
  padding: 50px;
}
.userCard .text h1 {
  margin-top: 18px;
}
.userCard .text hr {
  margin: 20px 0;
}
.userCard dl dt {
  width: 30%;
  font-weight: bold;
}
.userCard dl dt, .userCard dl dd {
  float: left;
  padding: 5px 0;
}
.userCard dl dd {
  width: 70%;
  color: #9da0a7;
}
.userCard dl dt, .userCard dl dd {
  float: left;
  padding: 5px 0;
}
.userCard > footer.media {
  background: #e6686a;
  text-align: center;
}
.userCard > footer.media > a {
  display: inline-block;
  width: 40px;
  line-height: 30px;
  padding: 5px 0;
  border-radius: 50%;
  margin: 16px;
}
.userCard svg {
  width: 30px;
  height: 30px;
  fill: red;
  vertical-align: top;
}
/*下载pdf*/
body .downloadResume-wrapper {
  text-align: center;
}
body .downloadResume {
  font-size: 14px;
  line-height: 16px;
  padding: 21px 55px;
  border: 1px solid #cdcfd1;
  background: #efefef;
  display: inline-block;
  border-radius: 2px;
  color: #3d4451;
  font-weight: bold;
  margin: 32px 0;
  transition: box-shadow 0.2s;
}

body .downloadResume:hover {
  box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}

/*介绍*/
.selfIntroduction {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: kai;
  line-height: 1.8;
  font-size: 18px;
}

/*技能*/
section.skills, section.portfolio {
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}
section.skills > h2, section.portfolio > h2 {
  text-align: center;
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
}
section.skills > ol {
  background: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
  padding: 42px 50px 10px;
  margin-top: 30px;
}
section.skills .progressBar {
  height: 5px;
  background: #FAE1E1;
  border-radius: 2px;
  margin: 4px 0 40px;
}
section.skills .progressBar > .progress {
  height: 100%;
  background: #E6686A;
  width: 70%;
  border-radius: 2px;
}
section.skills > ol > li {
  float: left;
  width: 48%;
  box-sizing: border-box;
}
section.skills > ol > li:nth-child(even) {
  float: right;
}

/*作品集*/
section.portfolio {
  text-align: center;
  margin-bottom: 100px;
}
section.portfolio > nav {
  display: inline-block;
  vertical-align: top;
  margin-top: 32px;
}
section.portfolio > nav {
  text-align: center;
}
section.portfolio .works {
  position: relative;
}
section.portfolio .works > .big, section.portfolio .works > .small {
  position: absolute;
}
section.portfolio > nav > ol > li:first-child {
  margin-left: 0;
}
section.portfolio > nav > ol > li {
  float: left;
  margin-left: 40px;
  cursor: pointer;
}
section.portfolio > nav .bar.state-2 .bar-inner {
  margin-left: 65px;
  width: 50px;
}
section.portfolio > nav .bar-inner {
  height: 100%;
  background: #E6686A;
  border-radius: 2px;
  transition: all 0.3s;
}
section.portfolio > nav .bar {
  height: 5px;
  background: white;
  margin-top: 5px;
  margin-bottom: 28px;
  border-radius: 2px;
}
section.portfolio > nav .bar.state-1 .bar-inner {
  margin-left: 0;
  width: 50px;
}
section.portfolio > nav .bar.state-3 .bar-inner {
  margin-left: 140px;
  width: 96px;
}
